@page {
    size: A4;
    margin: 0;
}

:host {
    font-size: 13px;

    @media screen {
        padding: 20px;
        display: block;
    }

    .bio {
        display: grid;
        grid-template-columns: 115px 1fr;
        border-bottom: 2px solid #f0f0f0;
        padding-bottom: 10px;
    }

    .social_portals,
    .contacts {
        list-style-type: none;
        padding: 0;
        clear: both;
        display: block;

        li {
            display: table-cell;
            list-style-type: none;
            padding: 0 10px 0 0;
            vertical-align: middle;

            img {
                margin-right: 5px;
            }
        }
    }

    .contacts {
        .key {
            text-transform: capitalize;
        }
    }


    .info-blocks {
        display: grid;
        grid-template-columns: 200px 800px;

        .spoken_languages,
        .certificates {
            padding: 0;
            display: block;
    
            li {
                list-style-type: none;
                padding: 0 10px 0 0;
                vertical-align: middle;
    
                img {
                    margin-right: 5px;
                }
            }
        }

        .certificates {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 15px;
        }
    }

    .work-experience {
        padding-top: 10px;
    }

    .job_history {
        padding-top: 10px;
        display: block;
        border-bottom: 2px solid #f0f0f0;

        ::ng-deep {
            .ant-timeline-item {
                padding-bottom: 10px;
                break-inside: avoid;

                .employer-logo {
                    display: block;
                }
            }
            
            .ant-timeline-item:last-child {
                padding-bottom: 0;
            }

            .ant-timeline-item-content {
                display: grid;
                top: 0;
                grid-template-columns: 55px 1fr;
            }

            .ant-tag {
                margin-bottom: 5px;
            }

            // .ant-timeline-item-head-blue {
            //     background-color: #1890ff;
            // }

        }

        .job {
            display: block;
            font-size: 13px;
        }
        .position {
            font-weight: bold;
        }

        .description {
            padding: 10px 0;
        }

        .technologies {
            
        }
        
    }

    .hobbies-and-education {
        padding-top: 15px;
        grid-template-columns: 310px 500px 200px;
        grid-column-gap: 20px;

        ul {
            list-style-type: none;
            padding: 0;
        }
    }
}